# Ignorar o ambiente virtual
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar o banco de dados SQLite
db.sqlite3

# Ignorar o arquivo temporário gerado para a árvore de diretórios
arvore_diretorios.txt

# Ignorar arquivos estáticos coletados dinamicamente
staticfiles/
